<?xml version="1.0" encoding="UTF-8"?>
<configuration status="WARN">
    <appenders>
        <Console name="Console" target="SYSTEM_OUT" >
            <PatternLayout charset="utf-8"
                    pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
        <LogHub name="LogHub"
                project="log4j2-test"
                logstore="all"
                endpoint="cn-hangzhou.log.aliyuncs.com"
                topic="test"
                accessKeyId=""
                accessKey=""
                timeZone="GMT+8"
                timeFormat="yyyy-MM-dd HH:mm:ss,SSS">
            <!--<ThresholdFilter level="error" onMatch="ACCEPT" onMismatch="DENY"/>-->
        </LogHub>
    </appenders>
    <loggers>
        <root level="info">
            <appender-ref ref="Console"  />
            <appender-ref ref="LogHub"  />
        </root>
    </loggers>
</configuration>
